.tkgp_btn, .tkgp_user {
	display: inline;
}

.tkgp_user_del {
	padding: 3px;
}

.tkgp_btn, .tkgp_user {
	display: inline;
	margin-right: 5px;
	/*padding: 3px;
	border: 1px solid;
	border-radius: 5px;*/
}