
.tkgp_modal_wall {
    /*display: table;*/
    min-height: 150px;
    width: 100%;
    height: 100%;
    background: rgba(230, 230, 230, 0.7);
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0;
    text-align: center;
    white-space: nowrap;
}

.tkgp_modal_wall:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}

.tkgp_modal_box {
    display: inline-block;
    vertical-align: middle;
}

.tkgp_modal_container {
    margin: 15px;
    padding: 20px;
    /*min-width: 150px;*/
    text-align: left;
    white-space: normal;
    background-color: rgba(255, 255, 255, 0.0);
    color: #000;
}
