.tk-page-unit {
    display: table;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

@media screen and (min-width: 601px) {
    .tk-page-title h2 {
        font-size: 16px;
    }

    .tk-page-target, .tk-subprojects {
        font-size: 13px;
    }
}

.tk-page-title, .tk-page-target, .tk-page-sub {
    display: table-row;
}

.tk-page-title > div:nth-last-child(1) {
    color: #999;
}

.tk-page-title > div {
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
    .tk-page-target {
        font-size: 14px;
    }
}

.tk-page-target p:nth-last-child(1) {
    margin-bottom: 0;
}

.tk-page-sub span::before {
    content: '\2022';
    padding-left: 2px;
    padding-right: 4px;
}

.tk-page-sub span:nth-child(1)::before {
    content: none;
}

.tk-page-title > div, .tk-page-target > div,
.tk-page-sub > div {
    display: table-cell;
    padding: 5px;
    width: 100%;
    vertical-align: middle;
}

/*------------------------------------------*/
.tk-projects-list, .tk-panel {
    display: table-cell;
}

.tk-panel {
    width: 250px;
    max-width: 250px;
    padding: 10px 0  0 20px;
    vertical-align: top;
}

.tk-panel > div {
    padding: 5px;
}

.tk-filter-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(204,204,204,0.85);
}

.tk-title {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#tk-filter-order {
    position: relative;
    border: 1px solid #ddd;
    padding: 10px 2px 2px 2px;
}

#tk-filter-order > label[for="tk-filter-order"] {
    position: absolute;
    top: -10px;
    left: 5px;
    background: #fff;
    padding: 0 3px 0 3px;
}

/*------------------------------------------*/
#tk-filter-buttons {
    position: absolute;
    border-radius: 3px;
    background: rgba(228, 210, 18, 0.33);
    padding: 2px;
    z-index: 100;
    opacity: 1;
}

#tk-filter-buttons > div {
    display: table-cell;
    padding: 5px;
}

.tk-button {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.tk-button:active {
    box-shadow: inset 0 0 2px #ccc;
}
