
.tk-modal-wall {
    /*display: table;*/
    min-height: 200px;
    width: 100%;
    height: 100%;
    background: rgba(230, 230, 230, 0.7);
    z-index: 999;
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    white-space: nowrap;
}

.tk-modal-wall:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}

.tk-modal-box {
    display: inline-block;
    vertical-align: middle;
}

.tk-modal-container {
    margin: 50px;
    padding: 20px;
    min-width: 200px;
    text-align: left;
    white-space: normal;
    background-color: rgba(255, 255, 255, 0.0);
    color: #000;
}
